<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
       Add a Form with the following Inputs (and Validators)
        <br/>   1) Mail address (should not be empty and should be an email address)
        <br/>   2) A Dropdown which allows the user to select from three different Subscriptions ("Basic", "Advanced", "Pro")
              Set "Advanced" as Default
        <br/>   3) A Password field (should not be empty)
        <br/>   4) A Submit Button
        <br/>
        <br/>   Display a warning message if the Form is invalid AND was touched. Display a warning message below each input if it's invalid.
        <br/>
        <br/>  Upon submitting the form, you should simply print the Value of the Form to the Console.
        <br/>  Optionally, display it in your template.

    </div>
  </div>

  <div class="row" style="border: 1px blue solid">
    <div class="col-xs-12">
      <span *ngIf="!form.valid && form.touched" class="error">Form invalid</span>
      <form id=formId (ngSubmit)="submit()" #form="ngForm">
        <div>
          <span>Mail</span><input name="mail" required email ngModel #mail="ngModel"/><br/>
          <!-- <span *ngIf="!form.controls['mail'].valid && mail.touched" class="error">
            this line will log error on load -> cannot read prop mail but works as expected -->
          <span *ngIf="!mail.valid && mail.touched" class="error">
            Please enter valid email id <br/>
          </span>
          <span>Type</span><select name="type" [(ngModel)]="type">
            <option value="Basic" >Basic</option>
            <option value="Advanced">Advanced</option>
            <option value="Pro">Pro</option>
          </select>
          <fieldset ngModelGroup="secret">
          <br/>
            <span>Password</span><input name="password" required ngModel/><br/>
            <button type="submit" [disabled]="!form.valid">Submit</button> <br/>
          </fieldset>
        </div>
      </form>
    </div>
  </div>
</div>
